html body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: url("backgroundever.jfif");
    background-repeat: no-repeat;
    background-size:  100%;
}
.container{
    background-color: rgba(0, 0, 0, 0.521);
    display: grid;
    grid-template-columns: 33.3vw 33.3vw 10vw 23.3vw;
    grid-template-rows: 70px 13px 30vh 59vh 80px;
    grid-template-areas: 
    "t1 t1 t1 t1"
    "nd nd nd painel"
    "i1 txt1 text1 painel"
    "nth1 nth2 nth2 painel"
    "down down down down"
}

        /* menu superior */
        .header{
            box-shadow: 0px 2px 5px black;
            grid-area: t1;
            display: flex;
            float: left;
            justify-content: space-around;
        }
        .header div{
            color: rgb(255, 255, 255);
            margin: auto;
        }
        .header div p{
            margin-left: 5px;
            display: flex;
            float: left;
        }
        .header div p a{
            background-color: rgba(255, 255, 255, 0.226);
            text-decoration: none;
            padding: 3px;
            color: rgb(255, 255, 255);
            border-radius: 4px;
        }
        .header div p a:hover{
            color: black;
            background-color: rgba(255, 255, 255, 0.658);
            cursor:pointer;
            transition-delay: 0.08;
        }

/* origem */
.texto1{
    margin: auto;
    grid-area: txt1;
}
.detalhes-texto{
    color: white;
    text-align: justify;
}
        /* footer */
        .footer{
            margin: 20px;
            grid-area: down;
            display: flex;
            float: left;
            justify-content: space-around;
        }
        .footer div{
            color: aliceblue;
            padding: 5px;
            border-radius: 4px;
            margin: auto;
        }

/* imagem lado esquerdo  BLACKWORK*/
.img-blackwork{
    box-shadow: 0px 3px 5px rgb(255, 255, 255);
    border-radius: 2rem;
    margin: 30px;
    height: 80vh;
    grid-area: i1;
    background-image: url("blackwork-vikins.jfif");
    background-repeat: no-repeat;
    background-size:  100%;
}
/* imagem lado esquerdo  GEOMÉTRICO*/
.img-geometric{
    box-shadow: 0px 3px 5px rgb(255, 255, 255);
    border-radius: 2rem;
    margin: 30px;
    height: 58vh;
    grid-area: i1;
    background-image: url("geometric2.PNG");
    background-repeat: no-repeat;
    background-size:  100%;
}
.img-oldschool{
    box-shadow: 0px 3px 5px rgb(255, 255, 255);
    border-radius: 2rem;
    margin: 30px;
    height: 80vh;
    grid-area: i1;
    background-image: url("oldschool\ 2.jfif");
    background-repeat: no-repeat;
    background-size:  100%;
}
/* painel lado direito */
.painel{
    box-shadow: 0px 3px 5px rgb(255, 255, 255);
    border-radius: 4rem;
    margin: 17px;
    background-color: rgba(75, 75, 75, 0.356);
    grid-area: painel;
}
.painel{
    text-align: center;
}
.painel div{
    padding-top: 110px;
}
.painel div a{
    color: black;
    text-decoration: none;
}
.painel div p{
    background-color: rgba(248, 249, 255, 0.521);
    margin: 13px;
    padding: 20px;
    border-radius: 1rem;
}
.painel div p:hover{
    background-color: rgb(248, 249, 255);
}
.painel div p a{
    color: black;
    text-decoration: none;
}